<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="./index.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="video_set" style="display: none;">
    <h2 style="text-align: center;"> BARC : Data Reception </h2>
    <div style="text-align: center;">
      <video id="netplay">
        Your browser does not support the video tag.
      </video>
    </div>
    <h2 style="text-align: center;" id="ends"></h2>
  </div>
  <div id="app">
    <v-app style=" background: #000000;">
      <template dark>
        <v-row justify="center">
          <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card dark>
              <v-card-title>
                <span class="headline">User Profile</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field label="First name*" v-model="fname" required></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field label="Middle name" v-model="mname"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field label="Last name*" v-model="lname" persistent-hint required></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field label="Email*" v-model="email" required></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field single-line label="Age" v-model="age" type="number"></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="storeData">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
      </template>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./main.js"></script>
  <script src="./mxvuetify.js"></script>
</body>

</html>